.App {
  text-align: center;
}
a,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #e09145;
  z-index: 2;
}

.header-logo {
  padding: 5px 28px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
}

.header-name {
  color: #edf2f4;
  font-size: 1rem;
  border: 3px solid #edf2f4;
  padding: 0.7rem;
  animation: show 0.5s;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  padding: 1.65rem;
  text-align: right;
  color: lightgrey;
  z-index: 2;
  transition: all 0.2s linear;
}

.nav-item {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 2rem;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  opacity: 0;
  bottom: -1rem;
  left: 0;
  /* background-color: lightgrey;*/
  transition: all 0.1s ease-in-out;
}

.nav-item:hover::after {
  opacity: 1;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  min-height: 56rem;
  background: linear-gradient(45deg, #292c35, #17181d);
}

.body .body-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 120rem;
  flex-grow: 1;
}

.body-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20rem;
}

.body-img {
  /*width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;*/
  border-radius: 50%;
  transform: scale(0.95);
  width: 100%;
}

.body-content {
  padding-top: 2rem;
  text-align: center;
}

.body-headline {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #fcd9b8;
}

.body-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #fcd9b8;
}

.body-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.8rem;
}

.body .icon-link {
  padding: 0.8rem;
  color: #fcd9b8;
}

.icon-link:hover {
  color: #e09145;
  transform: scale(1.05);
}

.about {
  height: 72vh;
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fcd9b8;
  font-size: 1.5rem;
  padding-top: 2rem;
  background: linear-gradient(45deg, #292c35, #17181d);
}

.about-heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3rem;
  color: #e09145;
}
.about-info {
  display: flex;
  justify-content: space-evenly;
}

.about .about-info .about-description {
  font-size: 1.7rem;
  line-height: 2rem;
  max-width: 50%;
  margin-top: -0.2rem;
  display: flex;
  align-items: center;
}

.about .about-img {
  display: block;
}

.about .about-img .about-img-wrapper {
  max-width: 400px;
  height: auto;
  border-radius: 60%;
  padding: 15px;
  margin-top: 30px;
  position: relative;
  display: inline-block;
  border: 1vh solid #e09145;
}

.about .about-img .about-img-wrapper img {
  border-radius: 50%;
  transform: scale(0.95);
  width: 100%;
}

.projects {
  height: 75vh;
  margin-top: -2rem;
  background: linear-gradient(45deg, #292c35, #17181d);
}
.projects-header {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 1rem;
  color: #e09145;
}

.projects-container {
  padding: 3rem;
}
.projects-container .project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40vh;
  border: 0.3rem solid #e09145;
  border-radius: 20px;
  margin: 0 1rem 0 0;
  align-items: center;
}

.projects-container .project .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
  margin-top: -3rem;
  cursor: auto;
  overflow: hidden;
}
.content:hover {
  transform: translate(0, -10px);
}
.content:before {
  content: "";
  display: block;
  padding-top: 10%;
}

.projects-container .project .content img {
  display: block;
  padding: 32px;
  margin: 0 auto;
  width: 23%;
  align-items: center;
}
.project-title {
  font-size: 1.6rem;
  color: #e09145;
  margin: 10px 0;
  margin-bottom: -0.5rem;
}

.description {
  font-size: 1rem;
  color: #fcd9b8;
  padding: 0rem 1rem;
  margin-bottom: 1.5rem;
}
.description-min {
  color: #fcd9b8;
  padding: 0rem 1rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.project-button {
  width: 8rem;
  color: #fcd9b8;
  padding: 5px 25px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border: 2px solid #17181d;
  border-radius: 10px;
}
.project-button:hover {
  background-color: #e09145;
}
.project-button:active,
.project-button:focus {
  background-color: #fcd9b8;
  border-color: #e09145;
  color: #17181d;
}
@media (min-width: 650px) and (max-width: 650px) {
  .projects-container .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
    border: 0.3rem solid #e09145;
    border-radius: 20px;
    margin: 0 1rem 0 0;
  }

  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
    margin-top: -3rem;
    cursor: auto;
    overflow: hidden;
  }

  .projects-container .project .content img {
    display: block;
    margin: 0 auto;
    padding: 32px;
    width: 25%;
    align-items: center;
  }

  .project-title {
    font-size: 1.6rem;
    color: #e09145;
    margin: 10px 0;
    margin-bottom: -0.5rem;
  }

  .description {
    font-size: 1rem;
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
  }
  .description-min {
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .project-button {
    width: 8rem;
    color: #fcd9b8;
    padding: 3px 25px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border: 2px solid #17181d;
    border-radius: 10px;
  }
}
@media (min-width: 1000px) {
  .projects-container {
    padding: 3rem;
  }
  .projects-container .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
    border: 0.3rem solid #e09145;
    border-radius: 20px;
    margin: 0 1rem 0 0;
  }

  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
    margin-top: -3rem;
    cursor: auto;
    overflow: hidden;
  }
  .content:hover {
    transform: translate(0, -10px);
  }
  .content:before {
    content: "";
    display: block;
    padding: 10%;
  }

  .projects-container .project .content img {
    display: block;
    margin: 0 auto;
    padding: 32px;
    width: 25%;
    align-items: center;
  }

  .project-title {
    font-size: 1.6rem;
    color: #e09145;
    margin: 10px 0;
    margin-bottom: -0.5rem;
  }

  .description {
    font-size: 1rem;
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
  }
  .description-min {
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-button {
    width: 8rem;
    color: #fcd9b8;
    padding: 3px 25px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border: 2px solid #17181d;
    border-radius: 10px;
  }
}
@media (min-width: 2000px) {
  .projects-container {
    padding: 3rem;
  }
  .projects-container .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40vh;
    border: 0.3rem solid #e09145;
    border-radius: 20px;
    margin: 0 1rem 0 0;
  }

  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
    margin-top: -3rem;
    cursor: auto;
    overflow: hidden;
  }
  .content:hover {
    transform: translate(0, -10px);
  }
  .content:before {
    content: "";
    display: block;
    padding: 10%;
  }

  .projects-container .project .content img {
    display: block;
    margin: 0 auto;
    padding: 32px;
    width: 25%;
    align-items: center;
  }
  .project-title {
    font-size: 1.6rem;
    color: #e09145;
    margin: 10px 0;
    margin-bottom: -0.5rem;
  }

  .description {
    font-size: 1rem;
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
  }
  .description-min {
    color: #fcd9b8;
    padding: 0rem 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .project-button {
    width: 8rem;
    color: #fcd9b8;
    padding: 3px 25px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border: 2px solid #17181d;
    border-radius: 10px;
  }
}
